.meni-section {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  text-align: center;
  font-family: var(--fontSecond);
  text-align: left;
  padding: 1rem;
}

.meni-section h1 {
  font-size: var(--fontSizePc);
  color: var(--mainColor);
  text-transform: uppercase;
}

.meni-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .meni-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.meni-card {
  width: 100%;
  padding: 0.5rem;
  transition: transform 0.2s ease-in-out;
  display: flex;
  color: var(--mainColor);
}

.meni-card:hover {
  transform: scale(1.05);
}

.meni-card h3 {
  font-size: calc(var(--fontSizePc) - 0.3rem);
  margin-bottom: 5px;
}

.meni-card p {
  font-size: 1rem;
  color: #666;
}
.meni-text {
  margin: 0;
  max-width: 80%;
}
.meni-price {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--secondaryColor);
  margin-right: 0;
  margin-top: 0;
}

.meni-section hr {
  width: 100%;
  margin-top: 2rem;
  background-color: var(--mainColor);
  height: 4px;
}
