.mnenja-wrapper {
  position: relative;
  height: 100%;
  padding: 10vh 0;
  font-family: var(--fontMain);
}
.mnenja-title {
  width: 85%;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--fontMain);
  color: var(--mainColor);
  text-align: left;
}
.mnenja-title h3 {
  font-family: var(--fontSecond);
  color: var(--mainColor);
  text-transform: uppercase;
  font-size: 1.4rem;
}
.mnenja-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 80%;
  margin: auto;
  position: relative;
  min-height: 45vh;
}

@media (max-width: 768px) {
  .mnenja-container {
    grid-template-columns: 1fr;
    width: 90%;
  }
}

.mnenja-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  width: 70%;
  transition: transform 0.5s ease-in-out;
}
.mnenja-text {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.mnenja-name {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;
  color: #555;
}
.mnenja-card h3,
.mnenja-card p {
  font-family: var(--fontSecond);
  color: var(--mainColor);
  text-transform: uppercase;
  font-size: 1.3rem;
}
.mnenja-card p {
  text-transform: none;
  font-size: 1.3rem;
}

.mnenja-name {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;
  color: #555;
}

.prev-button,
.next-button {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #333;
  transition: color 0.3s;
}

.prev-button:hover,
.next-button:hover {
  color: #ff7b00;
}

.mnenja-wrapper hr {
  width: 60%;
  margin: 2rem auto;
  border: 1px solid var(--mainColor);
}
