.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.8);
}
.hero-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2); /* ✅ Dark overlay */
  z-index: 1;
}
.hero-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.1s ease-in-out, opacity 0.1s ease-in-out; /* Slower transition */
}

.loading {
  filter: blur(10px); /* Reduced blur intensity */
  opacity: 0.5;
}

.loaded {
  filter: blur(0);
  opacity: 1;
  transition: filter 0.1s ease-in-out, opacity 0.1s ease-in-out; /* Smooth transition */
}

.hero-title {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
  font-size: 3rem;
  font-family: var(--fontMain);
  text-transform: uppercase;
  background: none;
}

.hero-title a {
  text-decoration: none;
  color: #fff;
}

.hero-title h1,
.hero-title span {
  color: #fff;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: var(--fontMain);
}

.hero-title h1 {
  white-space: nowrap;
  text-align: center;
}

.break {
  display: inline;
}

@media (max-width: 768px) {
  .break {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .hero-title {
    flex-direction: column;
  }
  .hero-title h1 {
    word-break: break-word;
  }
  .hero-title h2 {
    display: none;
  }
}

.herosite {
  bottom: 0%;
}
