.hero-container {
  position: relative;
  height: 100svh;
  width: 100%;
}

.hero-background {
  width: 100%;
  height: 100vh;
  filter: brightness(0.7);
  background-image: url("../../images/naslovna_main.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.hero-title {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background: none;
}

.hero-title a {
  text-decoration: none;
  color: #fff;
}

.hero-title h1,
.hero-title h2,
.hero-title span {
  color: #fff;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: var(--fontMain);
}

.hero-title h1 {
  white-space: nowrap;
  text-align: center;
  font-family: var(--fontMain);
}

.break {
  display: inline;
}

@media (max-width: 768px) {
  .break {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .hero-title {
    flex-direction: column;
  }
  .hero-title h1 {
    word-break: break-word;
  }
  .hero-title h2 {
    display: none;
  }
}
