.kontakt-wrapper {
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  padding: 1rem 10%;
  background-color: white;
}

.kontakt-wrapper p,
.kontakt-wrapper a {
  font-family: var(--fontSecond);
  font-size: 1.3rem;
}
.kontakt-wrapper a {
  text-decoration: underline;
}
.kontakt-wrapper p {
  color: var(--mainColor);
}
.kontakt-wrapper a {
  color: #000;
}

.kontakt-divider {
  width: 100%;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 768px) {
  .kontakt-wrapper {
    width: 100%;
  }
  .kontakt-divider {
    flex-direction: column;
  }
}
.kontakt-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  height: 100%;
  text-align: left;
}

.kontakt-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
}
.kontakt-item a,
.kontakt-item h2,
.kontakt-item p {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: var(--fontSecond);
  text-decoration: none;
  color: var(--mainColor);
}
.kontakt-item h2 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .kontakt-container {
    flex-direction: column;
    width: 100%;
  }
}

.kontakt-item button {
  border: none;
  background: none;
  padding: 1rem;
}
.kontakt-item i {
  color: blue;
  font-size: 3rem;
}
.kontakt-wrapper hr {
  width: 80%;
  color: black;
  margin: 0.5rem auto;
}

.kontakt-item img {
  padding: 0.1;
  width: 4rem;
}

.social-icons {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
