/* HomeText section with fixed background */
.site-section {
  position: relative;
  height: 100%;
  padding: 10vh 0;
  min-height: 50vh;
  width: 85%;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}
.adjust {
  width: 100%;
  padding: 10vh 7.5%;
}
.site-text {
  width: 100%;
  margin: 0 a;
  font-family: var(--fontMain);
  color: var(--mainColor);
}

@media screen and (max-width: 768px) {
  .site-section {
    width: 90%;
    min-height: 30vh;
  }
  .site-text {
    width: calc(100% - 40px);
  }
  .adjust {
    padding: 10vh 0;
  }
}

.site-text h3,
.site-text h1,
.site-text p,
.site-text ul li {
  font-family: var(--fontSecond);
  color: var(--mainColor);
}
.site-text h3 {
  text-transform: uppercase;
  font-size: calc(var(--fontSizePc) - 0.4rem);
}
.site-text h1 {
  font-size: calc(var(--fontSizePc) + 0.4rem);
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.site-text ul li,
.site-text p {
  font-size: var(--fontSizePc);
}

@media screen and (max-width: 768px) {
  .site-text h1 {
    font-size: calc(var(--fontSizePhone) + 0.4rem);
  }
  .site-text h3 {
    font-size: calc(var(--fontSizePhone) - 0.4rem);
  }
  .site-text ul li,
  .site-text p {
    font-size: var(--fontSizePhone);
  }
}
.site-text ul {
  list-style: none;
  padding: 0;
}
.site-text ul li::before {
  content: "•";
  color: var(--mainColor);
  display: inline-block;
  width: 1em;
  margin-left: 0em;
  font-size: 1.5em; /* Increase the font size to make the dot bigger */
}

.site-section a {
  margin-left: 0;
  width: 200px;
}
.site-button {
  display: block;
  height: 3.5rem;
  width: auto;
  max-width: 200px;
  background-color: var(--mainColor);
  color: white;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  margin-left: 0;
  margin-top: 2.5rem;
  display: flex;
  padding: 1rem;
}

.site-button:hover {
  background-color: var(--mainColor);
}

.site-button p {
  font-family: var(--fontSecond);
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 768px) {
  .site-section a {
    margin: auto;
    width: 200px;
  }
}

.site-line {
  margin: 2.5rem 0 0 0;
  width: 100px;
  height: 4px;
  background: var(--mainColor);
}

@media screen and (max-width: 768px) {
  .site-line {
    display: none;
  }
}
