:root {
  /* colors */
  --mainColor: #56342a;
  --secondaryColor: #b68e65;
  --textColor: #eee;
  --backgroundColor: #f7efeb;
  --white: hsla(0, 0%, 100%, 1);
  --black: hsla(0, 0%, 0%, 1);
  --gray: gray;
  /* fonts */
  --fontMain: "Architects Daughter", cursive;
  /*  --fontSecond: "Roboto Mono", monospace;*/
  --fontSecond: "Patrick Hand", cursive;
  /* --fontSecond: "Oswald", sans-serif; */
  /* font size */
  --fontSizePc: 1.6rem;
  --fontSizePhone: 1.2rem;
  --lineRadius: 15px;
  --phonewidth: 100%;
  --compwidth: 100%;
}
* {
  padding: 0;
  margin: auto;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--mainColor);
}

.App {
  text-align: center;
  overflow-x: hidden;
  background-color: var(--backgroundColor);
}

a {
  text-decoration: none;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #1a1a1a;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  z-index: 9999;
}

.main-content {
  transition: opacity 1s ease-in-out;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.visible {
  opacity: 1;
}
