:root {
  /* colors */
  --mainColor: #56342a;
  --secondaryColor: #b68e65;
  --textColor: #eee;
  --backgroundColor: #f7efeb;
  --white: hsla(0, 0%, 100%, 1);
  --black: hsla(0, 0%, 0%, 1);
  --gray: gray;
  /* fonts */
  --fontMain: "Architects Daughter", cursive;
  /*  --fontSecond: "Roboto Mono", monospace;*/
  --fontSecond: "Patrick Hand", cursive;
  /* --fontSecond: "Oswald", sans-serif; */
  /* font size */
  --fontSizePc: 1.7rem;
  --fontSizePhone: 1.3rem;
  --lineRadius: 15px;
  --phonewidth: 100%;
  --compwidth: 100%;
}
* {
  padding: 0;
  margin: auto;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--mainColor);
}

.App {
  text-align: center;
  overflow-x: hidden;
  background-color: var(--backgroundColor);
}

a {
  text-decoration: none;
}
