/* HomeText section with fixed background */
.home-section {
  position: relative;
  height: 100%;
  padding: 10vh 7.5%;
  min-height: 50vh;
}

.home-text {
  width: 100%;
  max-width: 1024px;
  margin: 0 0;
  font-family: var(--fontMain);
  color: var(--mainColor);
  text-align: left;
}

@media screen and (max-width: 768px) {
  .home-section {
    min-height: 30vh;
  }
  .home-text {
    width: calc(100% - 40px);
  }
}

.home-text h3,
.home-text h1,
.home-text p,
.home-text ul li {
  font-family: var(--fontSecond);
  color: var(--mainColor);
}
.home-text h3 {
  text-transform: uppercase;
  font-size: calc(var(--fontSizePc) - 0.4rem);
}
.home-text h1 {
  font-size: calc(var(--fontSizePc) + 0.4rem);
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.home-text ul li,
.home-text p {
  font-size: var(--fontSizePc);
}

@media screen and (max-width: 768px) {
  .home-text h1 {
    font-size: calc(var(--fontSizePhone) + 0.4rem);
  }
  .home-text h3 {
    font-size: calc(var(--fontSizePhone) - 0.4rem);
  }
  .home-text ul li,
  .home-text p {
    font-size: var(--fontSizePhone);
  }
}
.home-text ul {
  list-style: none;
  padding: 0;
}
.home-text ul li::before {
  content: "•";
  color: var(--mainColor);
  display: inline-block;
  width: 1em;
  margin-left: 0em;
  font-size: 1.5em; /* Increase the font size to make the dot bigger */
}

.home-button {
  display: block;
  height: 3.5rem;
  width: auto;
  max-width: 200px;
  background-color: var(--secondaryColor);
  color: white;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  margin-left: 0;
  margin-top: 2.5rem;
  display: flex;
  padding: 1rem;
}

.home-button:hover {
  background-color: var(--mainColor);
}

.home-button p {
  font-family: var(--fontSecond);
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 768px) {
  .home-button {
    justify-content: ceter;
    margin-left: auto;
  }
}

.home-line {
  margin: 2.5rem 0 0 0;
  width: 100px;
  height: 4px;
  background: var(--mainColor);
}

@media screen and (max-width: 768px) {
  .home-line {
    display: none;
  }
}
